
    .indented {
        text-indent: 30px; /* Adjust the value as needed */
    }

<p class="indented">


    .custom-margin {
        margin: 20px;
    }


<div class="custom-margin">
    <!-- Your content here -->
</div>
header {
    background-color: #1E7C88;
    color: white;
    text-align: center;
    padding: 25px 0;
}
